body {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
/* style for container */
.container {
    width: 970px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    background-color: RGB(170 187 204);
    align-items: center;
}
/* style for left part of watch */
.left {
    display: flex;
  flex-direction: column;
    margin-left: 50px;
}

.top {
    width: 330px;
    height: 110px;
    background-color: #af3737;
    border: 1px solid #af3737;
    border-top-left-radius: 65px;
    border-top-right-radius: 65px;
    display: flex;
   align-items: center;
   justify-content: center;
}
.top p {
    font-size: 65px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
   

}
.middle {
    width: 332px;
    background-color: #ffffff;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle h3 {
font-size: 80px;
font-weight: bold;
color: #909090;
}
.middle p {
    font-size: 80px;
font-weight: bold;
color: #909090;
}

.bottom {
    width: 330px;
    height: 110px;
    background-color: #af3737;
    border: 1px solid #af3737;
    border-bottom-left-radius: 65px;
    border-bottom-right-radius: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom p {
    font-size: 65px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}

/* style for right part of watch */

.right {
    display: flex;
    flex-direction: column;
}

.time {
    font-size: 140px;
    font-weight: bold;
    margin-right: 20px;
}
